<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncbi.mysercice1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ServiceActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService1">
            <intent-filter>
                <action android:name="com.processservice.add" />
            </intent-filter>
        </service>
        <service
            android:name=".MyService2"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.message.service" />
            </intent-filter>
        </service>
        <service
            android:name=".BoundService1"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.messagerservice2" />
            </intent-filter>
        </service>

        <receiver android:name=".BroadcastReceiver1">
            <intent-filter>
                <action android:name="com.ncbi.broadcastreceiver1"></action>
            </intent-filter>

        </receiver>
    </application>

</manifest>